<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.book.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EscolherUsuario"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginUsuario"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OrganizarImagens"
            android:screenOrientation="landscape" />
        <activity
            android:name=".swipes.EscolherCategoria"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ResponderQuiz"
            android:label="@string/title_activity_responder_quiz"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.QuestoesRespondidasSucesso"
            android:label="@string/title_activity_questoes_respondidas_sucesso"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.TelaAdicionarUsuario"
            android:label="@string/title_activity_tela_adicionar_usuario"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.TelaFeedbackUsuario"
            android:label="@string/title_activity_tela_feedback_usuario"
            android:screenOrientation="landscape" />
    </application>

</manifest>